<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="logon_class.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <logon_class.Properties.Settings>
            <setting name="db" serializeAs="String">
                <value>Data Source=sql;</value>
            </setting>
            <setting name="catalog" serializeAs="String">
                <value>Initial Catalog=logon-logoff;</value>
            </setting>
            <setting name="security" serializeAs="String">
                <value>Persist Security Info=True;</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value>User ID=sa;</value>
            </setting>
            <setting name="password" serializeAs="String">
                <value>Password=password</value>
            </setting>
            <setting name="default_time" serializeAs="String">
                <value>month</value>
            </setting>
            <setting name="encrypted" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="default_service_time" serializeAs="String">
                <value>00:05:00</value>
            </setting>
            <setting name="default_app_time" serializeAs="String">
                <value>00:05:00</value>
            </setting>
        </logon_class.Properties.Settings>
    </userSettings>
</configuration>